.ipynb_checkpoints/README-checkpoint.md
challenges/challenge_two.ipynb
challenges/challenge-one.ipynb
challenges/challenge-three.ipynb
challenges/.ipynb_checkpoints/challenge-three-checkpoint.ipynb
challenges/challenge_zero/50_startups.csv
challenges/challenge_zero/challenge_zero.ipynb
data/agaricus-lepiota.data
data/agaricus-lepiota.names
data/ign.csv
data/Mushroom.csv
data/sampledatafoodsales.xlsx
data/weather_data.csv
notebooks/Lab_0.0.IntroColab.ipynb
notebooks/Lab_0.1.IntroPandas.ipynb
notebooks/Lab_1.Data_generation_and_visualization_for_regression_and_classification.ipynb
notebooks/Lab_4_RegressionAndRegularizations.ipynb
notebooks/Lab_5_UnsupervisedLearning.ipynb
notebooks/Lab_6_DecisionTreeNaiveBayes.ipynb
notebooks/Lab-2.Polynomial_Regression_Bias_Variance.ipynb
notebooks/Lab-3.LinearLogisticRegression.ipynb
notebooks/Lab-7.KNNGaussianNaiveBayesTrees.ipynb
notebooks/Lab-8.Perceptron_and_SVM.ipynb
notebooks/Lab-9.Kernel_Regression.ipynb
notebooks/Lab-10.KernelPCA_KernelSVM.ipynb
notebooks/Lab-11.Pytorch_NN.ipynb
notebooks/Lab-12.Implicit_regularization.ipynb
notebooks/Lab-13.Autoencoders.ipynb
notebooks/Lab-14.style_transfer.ipynb
notebooks/Lab-15.RL_Dynamic_programming.ipynb
notebooks/Lab-16.RL_QLearning.ipynb
notebooks/Lab-17.RL_DeepQLearning.ipynb
notebooks/.ipynb_checkpoints/Lab-8.Perceptron_and_SVM-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-9.Kernel_Regression-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-10.KernelPCA_KernelSVM-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-11.Pytorch_NN-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-12.Implicit_regularization-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-13.Autoencoders-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-14.style_transfer-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-15.RL_Dynamic_programming-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-16.RL_QLearning-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Lab-17.RL_DeepQLearning-checkpoint.ipynb
notebooks/__pycache__/Z_LIB.cpython-313.pyc
notebooks/img/image_st.png
notebooks/img/losses.png
solved-notebooks/.DS_Store
solved-notebooks/SOLVED_Lab_6_DecisionTreeNaiveBayes.ipynb
solved-notebooks/SOLVED_Lab_7_KNNGaussianNaiveBayesTrees.ipynb
solved-notebooks/SOLVED-Lab_1.Data_generation_and_visualization_for_regression_and_classification.ipynb
solved-notebooks/SOLVED-Lab_3_LinearLogisticRegression.ipynb
solved-notebooks/SOLVED-Lab_5_UnsupervisedLearning.ipynb
solved-notebooks/SOLVED-Lab-4.RegressionAndRegularizations.ipynb
solved-notebooks/SOLVED-Lab-8.Perceptron_and_SVM.ipynb
solved-notebooks/SOLVED-Lab-9.Kernel_Regression.ipynb
solved-notebooks/SOLVED-Lab-10.KernelPCA_KernelSVM.ipynb
solved-notebooks/SOLVED-Lab-12.Implicit_regularization.ipynb
solved-notebooks/SOLVED-Lab-14.style_transfer.ipynb
solved-notebooks/SOLVED-Lab-15.RL_Dynamic_programming.ipynb
solved-notebooks/SOLVED-Lab-16.RL_QLearning.ipynb
solved-notebooks/SOLVED-Lab-17.RL_DeepQLearning.ipynb
solved-notebooks/.ipynb_checkpoints/SOLVED-Lab-14.style_transfer-checkpoint.ipynb
solved-notebooks/.ipynb_checkpoints/SOLVED-Lab-15.RL_Dynamic_programming-checkpoint.ipynb
solved-notebooks/.ipynb_checkpoints/SOLVED-Lab-16.RL_QLearning-checkpoint.ipynb
solved-notebooks/.ipynb_checkpoints/SOLVED-Lab-17.RL_DeepQLearning-checkpoint.ipynb
solved-notebooks/img/image_st.png
solved-notebooks/img/losses.png
